{% set assetHash = global.hash() %}
{% set isPaperLayout = false %}
{% if layout and layout is string %}
  {% if 'paper.njk' in layout %}
    {% set isPaperLayout = true %}
  {% endif %}
{% endif %}


<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    {% include "partials/meta-info.njk" %}

    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml"/>
    <link rel="me" href="https://mastodon.social/@owa" />

    <link rel="preload" href="/css/fonts/KumbhSans-VariableFont_wght.ttf" as="font" type="font/woff2" crossorigin />

    <!-- Site Icons -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/images/logo-48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/logo-192.png">

    {# Add facility for pages to delare an array of non-critical javascript #}
    {% if pageNonCriticalScripts %}
      {% for item in pageNonCriticalScripts %}
        <script src="{{ item }}?{{ assetHash }}" defer></script>
      {% endfor %}
    {% endif %}

    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>
          {% include item %}
        </style>
      {% endfor %}
    {% endif %}

    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'"/>
      {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="/css/vars.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/queries.css" />
  </head>
  <body>
    {% if isHome %}
      {% include "partials/home-header.njk" %}
    {% else %}
      {% include "partials/site-header.njk" %}
    {% endif %}

    {% if isHome %}
      {% block homecontent %}{% endblock %}
    {% else %}
      <div class="inner-wrapper">
        <main tabindex="-1" id="main-content" class="inner">
          {% block content %}{% endblock %}
          {% if not isPaperLayout %}
            {% set postListItems = collections.blog %}
          {% endif %}
        </main>
        {% if not isPaperLayout %}
          {% include "partials/aside.njk" %}
        {% endif %}
      </div>
    {% endif %}

    {% include "partials/site-footer.njk" %}


    <script>
      //Countdown for DMA
      (() => {

        [...document.querySelectorAll('.dma-countdown')].forEach(
          parent => {

            function countDown(endtime) {
              const total = Date.parse(endtime) - Date.parse(new Date());
              const seconds = Math.floor((total / 1000) % 60);
              const minutes = Math.floor( (total/1000/60) % 60 );
              const hours = Math.floor( (total/(1000*60*60)) % 24 );
              const days = Math.floor( total/(1000*60*60*24) );

              cdDays.innerText = days;
              cdHours.innerText = ('0' + hours).slice(-2);
              cdMins.innerText = ('0' + minutes).slice(-2);
              cdSecs.innerText = ('0' + seconds).slice(-2);

              return {
                days,
                hours,
                minutes,
                seconds
              };
            }

            function initializeClock(endtime) {
              countDown(endtime);
              const timeinterval = setInterval(() => {
                const t = countDown(endtime);

                if (t.days <= 0) {
                  dayCd.style.display = "none";
                }

                if (t.total <= 0) {
                  clearInterval(timeinterval);
                }
              }, 1000);
            }

            const noscript = parent.querySelector('.deadline');
            const deadline = '2024-03-06T23:00:00Z'; // 23:00:00 UTC = 00:00:00 CET
            const timer = parent.querySelector('div.timer');
            const dayCd = parent.querySelector('.dayCd');
            const timeCd = parent.querySelector('.timeCd');
            const cdDays = parent.querySelector('.remaining-days');
            const cdHours = parent.querySelector('.remaining-hours');
            const cdMins = parent.querySelector('.remaining-mins');
            const cdSecs = parent.querySelector('.remaining-secs');

            // If Js on
            noscript.style.display = 'none';
            timer.style.display = 'flex';

            initializeClock(deadline);

          }
        )

      })();
    </script>
  </body>
</html>
