{% set assetHash = global.hash() %}
{% set isPaperLayout = false %}
{% set languages = languages_base.supported %}
{% if layout and layout is string %}
  {% if 'paper.njk' in layout %}
    {% set isPaperLayout = true %}
  {% endif %}
{% endif %}
<!DOCTYPE html>
<html lang={{ page.lang }} dir="{{ languages_base[page.lang].direction or 'ltr' }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% include "partials/schema-json.njk" %}
    {% include "partials/meta-info.njk" %} <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml"/>
    <link rel="me" href="https://mastodon.social/@owa"/>
    <link rel="preload" href="/css/fonts/KumbhSans-VariableFont_wght.ttf" as="font" type="font/woff2" crossorigin/>
    {# Site icons #}
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/images/logo-48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/logo-192.png">
    <link rel="alternate" href="{{ site.url }}{{ page.url | removeLanguageCode(languages) }}" hreflang="x-default" />
    {% for language in languages %}
      <link rel="alternate" hreflang="{{ language.code }}" href="{{ site.url }}{{ page.url | locale_url(language.code) }}" />
    {% endfor %}
    {% if '/en/' in page.url  %}
      <link rel="canonical" href="{{ site.url }}{{ page.url | removeLanguageCode(languages) }}"/>
    {% endif %}
    {# Javascript #}
    <script type="module" src="/js/language-picker.js?{{ assetHash }}" defer></script>
    {# Javascript - Add facility for pages to delare an array of non-critical javascript #}
    {% if pageNonCriticalScripts %}
      {% for item in pageNonCriticalScripts %}
        <script src="{{ item }}?{{ assetHash }}" defer></script>
      {% endfor %}
    {% endif %}
    {# Stylesheets #}
    <style>{% cssInline '/css/vars.css' %}</style>
    <style>{% cssInline '/css/main.css' %}</style>
    <style>{% cssInline '/css/queries.css' %}</style>
    {# Stylesheets - Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>{% cssInline item %}</style>
      {% endfor %}
    {% endif %}
    {# Stylesheets - Add facility for pages to declare an array of non-crit stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" href="{{ item }}">
      {% endfor %}
    {% endif %}
  </head>
  <body>
    {% if isHome %}
      {% include "partials/home-header.njk" %}
    {% else %}
      {% include "partials/site-header.njk" %}
    {% endif %}
    {% if translated === false %}
      {% include "partials/banner-translation.njk" %}
    {% endif %}
    {% if isHome %}
      {% block homecontent %}{% endblock %}
    {% else %}
      <div class="inner-wrapper">
        <main tabindex="-1" id="main-content" class="inner" {% if translated === false %} lang="en" {% endif %}> {% block content %}{% endblock %}
          {% if not isPaperLayout %}
            {% set postListItems = collections.blog %}
          {% endif %}
        </main>
        {% if not isPaperLayout %}
          {% include "partials/aside.njk" %}
        {% endif %}
      </div>
    {% endif %}
    {% include "partials/site-footer.njk" %}
    {% include "partials/language-dialog.njk" %}
  </body>
</html>