{% set assetHash = global.hash() %}
{% set isPaperLayout = false %}
{% if layout and layout is string %}
  {% if 'paper.njk' in layout %}
    {% set isPaperLayout = true %}
  {% endif %}
{% endif %}
<!DOCTYPE html>
<html lang={{ page.lang }} dir="{{ languages_base[page.lang].direction or 'ltr' }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% include "partials/meta-info.njk" %} <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml"/>
    <link rel="me" href="https://mastodon.social/@owa"/>
    <link
    rel="preload" href="/css/fonts/KumbhSans-VariableFont_wght.ttf" as="font" type="font/woff2" crossorigin/> <!-- Site Icons -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/images/logo-48.png">
    <link
    rel="icon" type="image/png" sizes="192x192" href="/images/logo-192.png">
    {# Add facility for pages to delare an array of non-critical javascript #}
    {% if pageNonCriticalScripts %}
      {% for item in pageNonCriticalScripts %}
        <script src="{{ item }}?{{ assetHash }}" defer></script>
      {% endfor %}
    {% endif %}
    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>
          {% include item %}</style>
      {% endfor %}
    {% endif %}
    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'"/>
      {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="/css/vars.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/queries.css"/>
  </head>
  <body>
    {% if isHome %}
      {% include "partials/home-header.njk" %}
    {% else %}
      {% include "partials/site-header.njk" %}
    {% endif %}

      {% if translated === false %}
    {% include "partials/banner-translation.njk" %}
  {% endif %}
  

    {% if isHome %}
      {% block homecontent %}{% endblock %}
    {% else %}
      <div class="inner-wrapper">
        <main tabindex="-1" id="main-content" class="inner" {% if translated === false %} lang="en" {% endif %}> {% block content %}{% endblock %}
          {% if not isPaperLayout %}
            {% set postListItems = collections.blog %}
          {% endif %}
        </main>
        {% if not isPaperLayout %}
          {% include "partials/aside.njk" %}
        {% endif %}
      </div>
    {% endif %}
    {% include "partials/site-footer.njk" %}
    {% include "partials/language-dialog.njk" %}
    <script defer="" async="" type="module" src="/js/language-picker.js"></script>
  </body>
</html>