{% extends "layouts/base.njk" %}

{% block content %}
    <article class="h-entry [ post ] [ flow wrapper ]">
        <h1 class="p-title">{{ title }}</h1>
        {{ content | safe }}
        {% set postListItems = collections.blog %}
        {% include "partials/post-list.njk" %}
    </article>

{% endblock %}
