{% extends "layouts/base.njk" %}

{% block content %}
  <article class="h-entry">
    <div class="[ post ] [ flow wrapper ]">
      <h1 class="post-title">{{ title }}</h1>
      {% include "partials/post-meta.njk" %}
      <div class="post-content flow">
        {{ content | safe }}
      </div>
    </div>
  </article>
{% endblock %}
