{% extends "layouts/base.njk" %}

{% block content %}
<div class="wrapper">
    <h1>Press</h1>

    <ul>
        <li>
            <a href="https://appleinsider.com/articles/22/03/01/web-devs-create-advocacy-group-aimed-at-relaxing-ios-browser-restrictions">Web devs create advocacy group aimed at relaxing iOS browser restrictions</a>
        </li>
        <li>
            <a href="https://www.computerworld.com/article/3652348/developers-push-back-against-apple-ban-on-third-party-browsers.amp.html">Developers push back against Apple 'ban' on third-party browsers</a>
        </li>
        <li>
            <a href="https://www.theregister.com/2022/02/28/apple_apps_challenge/">Web devs rally to challenge Apple App Store browser rules</a>
        </li>
        <li>
            <a href="https://www.macrumors.com/2022/03/02/web-devs-advocacy-group-browser-engines-ios/">Web Developers Form Advocacy Group to Allow Other Browser Engines on iOS</a>
        </li>
        <li>
            <a href="https://www.heise.de/news/Browser-Web-Entwickler-fuer-Ende-von-WebKit-Zwang-auf-iPhones-6533101.html">Browser: Web-Entwickler für Ende von WebKit-Zwang auf iPhones</a>
        </li>
    </ul>
</div>
{% endblock %}