---
title: Contributors & Supporters
permalink: /es/contributors/
metaDesc: Team of contributors to the Open Web Advocacy initiative
layout: layouts/page.njk
---

<p>Open Web Advocacy es una organización sin ánimo de lucro formada por un grupo de ingenieros de software de todo el mundo,
  que trabajan para distintas companias, y que se han unido para luchar por el futuro de la web abierta con el fin de
  proporcionar los detalles técnicos que los reguladores, legisladores y responsables políticos necesitan para
  comprender los principales problemas anticompetitivos en nuestra industria y cómo solucionarlos.</p>

<p>Open Web Advocacy fue fundada en Marzo de 2021 por los hermanos Alex y James Moore.
  Entre los primeros contribuidores se incluyen Stuart Langridge y Bruce Lawson, quienes fueron entrevistados por <em>The Register</em> en unos de sus artículos &ndash;
  <strong>
    <a href="https://www.theregister.com/2022/02/28/apple_apps_challenge/">Web devs rally to challenge Apple App Store browser rules (Desarrolladores web se unen para retar a las normas de los navegadores en la tienda de aplicaciones de Apple.)</a></strong>.
  Para más cobertura ir a nuestra <a href="{{'/press/' | locale_url}}">página de prensa</a>.
</p>

<p>A number of our contributers wish to remain private as they are concerned that publicly confronting gatekeepers will cause
issues with their jobs or businesses.</p>

<p>Please note that contributions by individals do not necessarily reflect an endorsement by their employers.</p>

<ul class="contributors">
  {% for person in contributors %}
    <li>
      <div class="main-data">
        <p>
          <img src="/images/contributors/{{ person.avatar }}" alt="Profile picture of {{ person.name }}">
          <strong>
            {{ person.name }}
            <span>({{ person.countries | join(',&nbsp;') | safe}})</span>
          </strong>
        </p>
        <p>{{ person.what | safe }}</p>
      </div>
      <p class="social">
        {% for key, value in person.links %}
        <a href="{{ value }}">{{ key }}</a>
        {% endfor %}
      </p>
    </li>
  {% endfor %}

  {% if contributors.length % 2 !== 0%}
    <li></li>
  {% endif%}
</ul>

<p>If you are a contributor or a supporter and wish to be listed above please <a href="mailto:contactus@open-web-advocacy.org">contact us.</a></p>

<p>If you would like to support/contribute you can <a href="{{'/donate' | locale_url}}">donate</a> or join our community on
  <a href="https://discord.com/invite/x53hkqrRKx">Discord</a> to get more deeply involved. Can't spare the
  cash or time? Keep up with what we're up to and help spread the word by following us on
  <a href="https://mastodon.social/@owa">Mastodon</a>,
  <a href='https://bsky.app/profile/open-web-advocacy.org'>Bluesky</a>
  or <a href="https://twitter.com/OpenWebAdvocacy">X/Twitter</a>
  .</p>