---
title: Contribuidores y Simpatizantes
permalink: /es/contributors/
metaDesc: Equipo de contribuidores de Open Web Advocacy
layout: layouts/page.njk
---

{% set content = languages_base[page.lang] %}

<p>Open Web Advocacy es una organización sin ánimo de lucro formada por un grupo de ingenieros de software de todo el mundo,
  que trabajan para distintas compañias, y que se han unido para luchar por el futuro de la web abierta con el fin de
  proporcionar los detalles técnicos que los reguladores, legisladores y responsables políticos necesitan para
  comprender los principales problemas anticompetitivos en nuestra industria y cómo solucionarlos.</p>

<p>Open Web Advocacy fue fundada en marzo de 2021 por los hermanos Alex y James Moore.
  Entre los primeros contribuidores se incluyen Stuart Langridge y Bruce Lawson, quienes fueron entrevistados por <em>The Register</em> en unos de sus artículos &ndash;
  <strong>
    <a href="https://www.theregister.com/2022/02/28/apple_apps_challenge/">Web devs rally to challenge Apple App Store browser rules (Desarrolladores web se unen para retar a las normas de los navegadores en la tienda de aplicaciones de Apple.)</a></strong>.
  Para más cobertura informativa ve a nuestra <a href="{{'/press/' | locale_url}}">página de prensa</a>.
</p>

<p>Algunos de nuestros contribuidores prefieren permanecer en privado, debido a la preocupación de que confrontar públicamente a los <em>gatekeepers</em> (guardianes de acceso) cause problemas en sus empleos o empresas.</p>

<p>Por favor, ten en cuenta que las contribuciones de individuos no necesariamente están respaldadas por sus empresas u organizaciones.</p>

<ul class="contributors">
  {% for person in contributors %}
    <li>
      <div class="main-data">
        <p>
          <img src="/images/contributors/{{ person.avatar }}" alt="Profile picture of {{ person.name }}">
          <strong>
            {{ person.name }}
            <span>({{ person.countries | join(',&nbsp;') | safe}})</span>
          </strong>
        </p>
        <p>{{ person.what | safe }}</p>
      </div>
      <p class="social">
        {% for key, value in person.links %}
          {% if key == "email" %}
            {% set label = content.email %}
          {% elseif key == "website" %}
            {% set label = content.website %}
          {% else %}
            {% set label = key %}
          {% endif %}

          <a href="{{ value }}">{{ label }}</a>
        {% endfor %}
      </p>
    </li>
  {% endfor %}

  {% if contributors.length % 2 !== 0%}
    <li></li>
  {% endif%}
</ul>

<p>Si eres contribuidor o simpatizante y deseas aparecer en la lista previa, por favor <a href="mailto:contactus@open-web-advocacy.org">contáctanos.</a></p>

<p>
  Si quieres apoyar/contribuir puedes <a href="{{'/donate' | locale_url}}">donar</a> o unirte a nuestra comunidad en
  <a href="https://discord.com/invite/x53hkqrRKx">Discord</a> para involucrarte más profundamente. ¿No te sobra el tiempo o el dinero?
  Mantente actualizado con lo que hacemos y ayúdanos a llegar al mundo siguiéndonos en
  <a href="https://mastodon.social/@owa">Mastodon</a>,
  <a href='https://bsky.app/profile/open-web-advocacy.org'>Bluesky</a>
  o <a href="https://twitter.com/OpenWebAdvocacy">X/Twitter</a>.
</p>