---
title: Cobertura de prensa de OWA
permalink: /es/press/
metaDesc: Open Web Advocacy en Prensa
layout: layouts/page.njk
---

{% macro pressEntry(entry) %}
<li lang="{{ entry.lang | default('en') }}">
  <div class="press-entry">
    <a href="{{ entry.url }}">{{ entry.title }}</a>
    <div class="press-details">
      {% if entry.publisher %}
      publicado por "{{ entry.publisher }}"
      {% else %}
      publicado en {{ entry.url | hostnameFilter }}
      {% endif %}
      {% if entry.date %}
      - <time datetime="{{ entry.date | w3DateFilter }}" class="dt-published">{{ entry.date | localisedDateFilter(page.lang) }}</time>
      {% endif %}
    </div>
  </div>
</li>
{% endmacro %}


{% if collections.press | length > 0 %}
<h2>Menciones a OWA en prensa</h2>
{% for yearlyData in collections.press %}
{% if collections.press | length > 1 %}
<h3 id="owa_{{ yearlyData.year }}">{{ yearlyData.year }}</h3>
{% endif %}
<ul class="press-list">
  {% for entry in yearlyData.entries %}
  {{ pressEntry(entry) }}
  {% endfor %}
</ul>
{% endfor %}
{% endif %}

{% if collections.links | length > 0 %}
<h2>Enlaces de interés</h2>
{% for yearlyData in collections.links %}
{% if collections.links | length > 1 %}
<h3 id="related_{{ yearlyData.year }}">{{ yearlyData.year }}</h3>
{% endif %}
<ul class="press-list">
  {% for entry in yearlyData.entries %}
  {{ pressEntry(entry) }}
  {% endfor %}
</ul>
{% endfor %}
{% endif %}