---
title: 'Contributors & Supporters'
permalink: '/contributors/'
metaDesc: 'Team of contributors to the Open Web Advocacy initiative'
layout: 'layouts/page.njk'
---

<p>Open Web Advocacy is a not-for-profit organization made up of a loose group of software engineers from all over the world,
  who work for many different companies who have come together to fight for the future of the open web by providing regulators,
  legislators and policy makers the intricate technical details that they need to understand the major anti-competitive issues
  in our industry and potential ways to solve them.</p>

<p>Open Web Advocacy was started in March 2021 by brothers Alex and James Moore. 
  Early contributors include Stuart Langridge and Bruce Lawson were interviewed for a piece in The Register &ndash;
  <strong>
  <a href="https://www.theregister.com/2022/02/28/apple_apps_challenge/">Web devs rally to
  challenge Apple App Store browser rules</a></strong>,
  and we have listed coverage on our <a href="{{'/press/' | locale_url}}">press page</a>.
</p>

<p>A number of our contributers wish to remain private as they are concerned that publicly confronting gatekeepers will cause
issues with their jobs or businesses.</p>

<p>Please note that contributions by individals do not necessarily reflect an endorsement by their employers.</p>

<ul class="contributors">
  {% for person in contributors %}
    <li>
      <div class="main-data">
        <p>
          <img src="/images/contributors/{{ person.avatar }}" alt="" />
          <strong>
            {{ person.name }}
            <span>({{ person.countries | join(',&nbsp;') | safe}})</span>
          </strong>
        </p>
        <p>{{ person.what | safe }}</p>
      </div>
      <p class="social">
        {% if person.github %}<a href="https://github.com/{{ person.github }}">Github</a>{% endif %}
        {% if person.mastodon and person.github %} / {% endif %}
        {% if person.mastodon %}<a href="{{ person.mastodon }}">Mastodon</a>{% endif %}
        {% if person.twitter and (person.github or person.mastodon) %} / {% endif %}
        {% if person.twitter %}<a href="https://twitter.com/{{ person.twitter }}">X/Twitter</a>{% endif %}
        {% if person.linkedIn and (person.github or person.mastodon or person.twitter) %} / {% endif %}
        {% if person.linkedIn %}<a href="{{ person.linkedIn }}">LinkedIn</a>{% endif %}
        {% if person.email and (person.github or person.mastodon or person.twitter or person.linkedIn) %} / {% endif %}
        {% if person.email %}<a href="mailto:{{ person.email }}">Email</a>{% endif %}
        {% if person.website and (person.github or person.mastodon or person.twitter or person.linkedIn or person.email) %} / {% endif %}
        {% if person.website %}<a href="{{ person.website }}">Website</a>{% endif %}
      </p>
    </li>
  {% endfor %}

  {% if contributors.length % 2 !== 0%}
    <li></li>
  {% endif%}
</ul>

<p>If you are a contributor or a supporter and wish to be listed above please <a href="mailto:contactus@open-web-advocacy.org">contact us.</a></p>

<p>If you would like to support/contribute you can <a href="{{'/donate' | locale_url}}">donate</a> or join our community on
  <a href="https://discord.com/invite/x53hkqrRKx">Discord</a> to get more deeply involved. Can't spare the
  cash or time? Keep up with what we're up to and help spread the word by following us on
  <a href="https://twitter.com/OpenWebAdvocacy">X/Twitter</a>, <a href="https://mastodon.social/@owa">Mastodon</a> or <a href='https://bsky.app/profile/open-web-advocacy.org'>Bluesky</a>
  .</p>
