/* --------------------------------------------------------------------
    OPEN WEB ADVOCACY
    Main style-sheet
    2022
-------------------------------------------------------------------- */

/* INDEX
- RESET
- GLOBALS
- STRUCTURE
- HEADER
- FOOTER
- NAVIGATION
- ARTICLE
- MEDIA QUERIES
*/

@import "vars.css";

/* ------------------------------ RESET ---------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, form, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

header, footer, main, nav, aside, article, section, figure, figcaption {
  display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

/* ---------------------- GLOBALS ------------------------ */

body {
  color: var(--body-text);
	 background: var(--body-bg);
  font: 100%/1.5 var(--stack);
}

h1, h2, h3 {
	max-width: 35ch;
	font-variation-settings: var(--fvs-black);
  line-height: 1.2;
	letter-spacing: -0.02em;
	text-transform: lowercase;
}

h1 {
	font-size: calc(2em + 2vw);
	color: var(--main-color);
	background: var(--body-bg);
	margin-bottom: calc(1em + 1vw);
}

h2 {
  font-size: calc(1.5rem + 1vw);
}

h3 {
  font-size: 1.75rem;
}

/* More info: https://piccalil.li/quick-tip/limit-line-lengths-to-increase-readability/ */
p, li, dl {
  max-width: 70ch;
}

dl {
  display: grid;
  grid-template-columns: minmax(auto, 20ch) 1fr;
  grid-gap: 0.5rem 1rem;
}

dt {
  font-weight: bold;
}

li + li {
  margin-top: 0.7rem;
}

blockquote {
	--flow-space: 3rem;
	position: relative;
  max-width: 25em;
  max-width: 40ch;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.55;
  padding-left: 3.5rem;
	margin-bottom: var(--flow-space);
}
blockquote p:last-of-type {
	font-size: 80%;
	margin-top: 0.8em;
}

blockquote::before {
	position: absolute;
	width: 1em;
	top: -0.15em;
	left: 0;
	content: "\201F";
	font: 7rem Arial, Helvetica, sans-serif;
	color: var(--main-color);
	background-color: rgba(255,255,255,0);
}

code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 0.95em;
  font-weight: bold;
}

pre {
  padding: 1.25rem;
  background: #e4e6ec;
  max-width: 35em;
}

pre code {
  display: block;
  width: 100%;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Links and focus states */
a {
  color: currentColor;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 2px dashed currentColor;
  outline-offset: 0.15rem;
}

strong {font-variation-settings: var(--fvs-bold);}

img {max-width: 100%; border: none;}

/* Handy utils */
.wrapper {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

/* More info: https://piccalil.li/quick-tip/flow-css-utility/ */
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
.flow > p + p {
  margin-top: 0.8em;
}

/* A handy composition block for managing content flow. More on this sorta thing: https://cube.fyi */
.post {
  font-size: 1.125rem;
  --flow-space: 1.5rem;
}

.post h2,
.post h3,
.post footer {
  --flow-space: 3rem;
}

.post h1 + *,
.post h2 + *,
.post h3 + * {
  --flow-space: 1rem;
}


/* ---------------------- STRUCTURE ------------------------ */

main:focus {outline: none;}

aside {
	background-color: var(--n-light);
	padding: 1.5rem;
}
	aside ul, aside ol {margin: 1rem;}

/* Inner pages */
main.inner {margin-bottom: 2rem;}

div.inner-wrapper {
	width: 90%;
	max-width: 1400px;
	margin: 4vw auto;
	--flow-space: 2rem;
}

	div.inner-wrapper aside {max-width: 300px;}

/* ---------------------- HEADER ------------------------ */

header.site-header {
  color: var(--text-inv);
  background-color: var(--main-color);
	padding-top: 1rem;
  margin-bottom: calc(2vw + 1rem);
}

div.site-header__inner {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}

.site-header__brand {
  display: block;
	position: relative;
	bottom: -10px;
  width: 30%;
  max-width: 200px;
}


/* ---------------------- FOOTER ------------------------ */

body > footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0 2rem;
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}
body > footer ul {
	display: flex;
	gap: 0.5em;
	list-style-type: none;
	margin-bottom: 2rem;
}

hr {display: none;}

body > footer li + li {margin-top: 0; margin-left: 0.25em;}
body > footer li:not(:last-child)::after {
	content: "/ ";
	margin-left: 0.6em;
}

body > footer li {
	font-size: 0.9em;
	text-transform: lowercase;
}

p.copyright {font-variation-settings: var(--fvs-black);}

/* ---------------------- NAVIGATION ------------------------ */

.skiplink {
	font-size: 0.85em;
	text-align: center;
}

	.skiplink a {
		display: block;
		position: absolute;
		overflow: hidden;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
	}
	.skiplink a:focus {position: static; width: auto; height: auto;}

header nav {
	box-sizing: border-box;
	padding: 0.5rem 1rem;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
	list-style-type: none;
}

header nav ul li {
	max-width: 100%;
	margin: 0.25rem;
}

header nav ul li + li {margin-top:  0.25rem;}

header nav a {
	font-weight: bold;
	text-decoration: none;
}

header.home-header nav a {
	color: var(--main-sat);
	background: var(--body-bg);
}

header.home-header nav a:hover {
	color: var(--text-inv);
	background: var(--n-dark);
}

/* ------------------------  HOME ---------------------------- */

header.home-header {
	position: static;
	width: 90%;
	max-width: 1400px;
	padding: 5vw 0 1rem;
	margin: 0 auto;
}

	header.home-header nav {
		position: static;
	}

	header.home-header h1 {
		max-width: 4em;
		font-size: calc(1.2em + 2vw);
		font-size: clamp(1.2rem, 5vw, 3.5rem);;
		line-height: 1;
		text-transform: lowercase;
		font-variation-settings: var(--fvs-black);
		margin-bottom: -0.1em;
	}

div.identity {
  display: flex;
	align-items: flex-end;
  gap: 10vw;
	margin-bottom: 1rem;
}

p.logo-home {
	flex: 0 1 auto;
	min-width: 65px;
	max-width: 100px;
}

	p.logo-home img {vertical-align: bottom;}

div.home-wrapper {
	width: 90%;
	max-width: 1400px;
	margin: 4vw auto;

	--flow-space: 2rem;
}

div.home-wrapper * + * {
	margin-top: var(--flow-space);
}

div.home-wrapper p {
	--flow-space: 0.8em;
}

p.home-intro {
	max-width: 27em;
	font-size: 1.2em;
	font-variation-settings: "wght" 500;
	margin: 5% 5% 3rem;
}

div.highlight {
	color: var(--text-inv);
	background-color: var(--main-color);
	padding: 1.1rem 1.5rem 1.5rem;
}

div.highlight p + p {margin-top: 0.8em;}

div.priorities-entry {
	background-color: var(--main-light);
	padding: 1.1rem 1.5rem 1.5rem;
}

div.who-entry {
	background-color: var(--n-light);
	padding: 1.1rem 1.5rem 1.5rem;
}

	div.who-entry ul {margin: 1.5em;}
	div.who-entry li + li {margin-top: 0.8em;}

div.policy-entry, div.contact-entry {
	padding: 0 1.5rem;
}



/* ------------------------  LINKS/LISTS ---------------------------- */


dl.counter {
	display: block;
	counter-reset: counter;
}

dl.counter dt {
	position: relative;
	font-size: 1.2em;
	font-variation-settings: var(--fvs-black);
	padding-top: 1em;
	padding-left: 4rem;
}

dl.counter dt::before {
	display: inline-block;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	top: 0.2em;
	left: 0;
	font: 2rem/1.5em var(--stack);
	font-variation-settings: var(--fvs-black);
	content: counter(counter);
	counter-increment: counter;
	text-align: center;
	color: var(--text-inv);
	background-color: var(--main-color);
	border-radius: 100%;
}
dl.counter dd {
	--flow-space: 1em;
	padding-left: 4rem;
}

ul.contact-links {--flow-space: 1.5em;}
	ul.contact-links li {
		list-style-type: none;
		background-repeat: no-repeat;
		background-position: 0 0.2em;
		padding-left: 35px;
		--flow-space: 0.5em;
	}

ul.contact-links li:nth-child(1) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm9.06 8.683L5.648 6.238 4.353 7.762l7.72 6.555 7.581-6.56-1.308-1.513-6.285 5.439z'/%3E%3C/svg%3E");
}

ul.contact-links li:nth-child(2) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10.076 11c.6 0 1.086.45 1.075 1 0 .55-.474 1-1.075 1C9.486 13 9 12.55 9 12s.475-1 1.076-1zm3.848 0c.601 0 1.076.45 1.076 1s-.475 1-1.076 1c-.59 0-1.075-.45-1.075-1s.474-1 1.075-1zm4.967-9C20.054 2 21 2.966 21 4.163V23l-2.211-1.995-1.245-1.176-1.317-1.25.546 1.943H5.109C3.946 20.522 3 19.556 3 18.359V4.163C3 2.966 3.946 2 5.109 2H18.89zm-3.97 13.713c2.273-.073 3.148-1.596 3.148-1.596 0-3.381-1.482-6.122-1.482-6.122-1.48-1.133-2.89-1.102-2.89-1.102l-.144.168c1.749.546 2.561 1.334 2.561 1.334a8.263 8.263 0 0 0-3.096-1.008 8.527 8.527 0 0 0-2.077.02c-.062 0-.114.011-.175.021-.36.032-1.235.168-2.335.662-.38.178-.607.305-.607.305s.854-.83 2.705-1.376l-.103-.126s-1.409-.031-2.89 1.103c0 0-1.481 2.74-1.481 6.121 0 0 .864 1.522 3.137 1.596 0 0 .38-.472.69-.871-1.307-.4-1.8-1.24-1.8-1.24s.102.074.287.179c.01.01.02.021.041.031.031.022.062.032.093.053.257.147.514.262.75.357.422.168.926.336 1.513.452a7.06 7.06 0 0 0 2.664.01 6.666 6.666 0 0 0 1.491-.451c.36-.137.761-.337 1.183-.62 0 0-.514.861-1.862 1.25.309.399.68.85.68.85z'/%3E%3C/svg%3E");
}
ul.contact-links li:nth-child(3) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z'/%3E%3C/svg%3E");
}
ul.contact-links li:nth-child(4) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z'/%3E%3C/svg%3E");
}

p.entry-link {
	margin-top: 1.5em;
	font-variation-settings: var(--fvs-black);
	text-transform: lowercase;
}

	p.entry-link a {
		display: inline-block;
		text-decoration: none;
		color: var(--text-inv);
		background-color: var(--n-dark);
		padding: 0.4em 2.5em 0.6em 1.2em;
		border-radius: 2em;
	}
	p.entry-link a::after {
		display: inline-block;
		position: relative;
		top: 0.1em;
		left: 1.5em;
		content: "";
		width: 0.8em;
		height: 0.8em;
		background-color: var(--text-inv);
		border-radius: 0.8em;
	}
	p.entry-link a:hover::after {
		background-color: var(--main-color);
	}
	p.entry-link a:focus {
		outline-color: var(--n-dark);
	}


/* ------------------------  ARTICLES ---------------------------- */

article p, article li, article dt, article dd {
	line-height: 1.58;
}

article ul, article ol  {
	margin: 2rem 1rem;
}

ul.press-list {
	list-style-type: none;
	margin: 2rem 0;
}

	ul.press-list li {
		display: flex;
		gap: 1rem;
	}

	ul.press-list li::before {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 2em;
		content: "EN";
		width: 2em;
		height: 2em;
		font-variation-settings: var(--fvs-black);
		text-align: center;
		color: var(--text-inv);
		background-color: var(--n-dark);
		border-radius: 100%;
	}

	ul.press-list [lang="fr"]::before {
		content: "FR";
		background-color: #369;
	}
	ul.press-list [lang="de"]::before {
		content: "DE";
		background-color: #B26C03;
	}
	ul.press-list [lang="it"]::before {
		content: "IT";
		background-color: var(--highlight-color);
	}

  /* Glossary */
  dl.glossary {display: block;}

	dl.glossary dt {
		font-size: calc(1.5rem + 1vw);
	}
	dl.glossary dd + dt {
		margin-top: var(--flow-space);
	}
	dl.glossary p + p {
		margin-top: 0.8em;
	}

	dl.glossary dd {
		padding: 0.5rem 0 1rem 1rem;
		border-left: 1px solid var(--main-color);
	}

