

body.page--walled-gardens header,
body.page--walled-gardens .download {
  display: none;
}

body.page--walled-gardens details {
  padding: 0;
  background: none;
}

body.page--walled-gardens summary::marker {
  content: none;
}
body.page--walled-gardens summary h2 {
  font-size: calc(1.5rem + 1vw);
}

body.page--walled-gardens section {
  page-break-inside : avoid;
}

body.page--walled-gardens section h2 {
  page-break-before: always;
}

/* Expand all collapsers */
.collapser > button:first-child {
  display: none;
}
.collapser > .collapsed {
  display: block;
}
