/* --------------------------------------------------------------------
    OPEN WEB ADVOCACY
    Custom Properties
    2022
-------------------------------------------------------------------- */

@font-face {
    font-family: "Kumbh Sans Regular";
    src: url("fonts/KumbhSans-VariableFont_wght.ttf");
    font-weight: 100 900;
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-012B, U+012E-0149,
        U+014C-017F, U+0192, U+0218-021B, U+0237, U+02C6-02C7, U+02C9,
        U+02D8-02DD, U+0394, U+03A9, U+03C0, U+1E80-1E85, U+2002, U+2009,
        U+200B, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026,
        U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20A3, U+20A8,
        U+20AC, U+2113, U+2122, U+212E, U+2191, U+2193, U+2202, U+2206,
        U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248,
        U+2260, U+2264-2265, U+25CA, U+FB00-FB05, U+FEFF;
   font-display: optional;
}

:root {

  --stack: "Kumbh Sans Regular", "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  --fvs-light: "wght" 300;
  --fvs-regular: "wght" 400;
  --fvs-medium: "wght" 500;
  --fvs-bold: "wght" 700;
  --fvs-black: "wght" 900;

  --body-text: #333;
  --body-bg: #FFF;
  --text-inv: #FFF;
  --main-color: #CD4C1D;
  --main-dark: #9A3513;
  --main-light: #F4E1D9;
  --main-sat: #F95D24;
  --highlight-color: #007A78;
  --n-light: #EBEBEB;
  --n-dark: #333;
  --alert: #BD0000;
}
