
# Cache
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 4 weeks after access.
  ExpiresDefault "access plus 4 weeks"

  # Cache images for longer
  <FilesMatch "\.(avif|gif|ico|jpg|jpeg|png|webp|svg)$">
    ExpiresDefault "access plus 6 months"
  </FilesMatch>

  # Cache fonts for longer
  <FilesMatch "\.(ttf|woff|woff2)$">
    ExpiresDefault "access plus 6 months"
  </FilesMatch>

  # Disable expire for html, php, etc
  <FilesMatch "\.(html|json|map|php|txt|xml)$">
    ExpiresActive Off
    FileETag None
    <ifModule mod_headers.c>
      Header unset ETag
      Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
      Header set Pragma "no-cache"
      Header set Expires "Mon, 3 Oct 1983 06:00:00 GMT"
    </ifModule>
  </FilesMatch>
</ifModule>

# Gzip / deflate
<IfModule mod_deflate.c>
  <FilesMatch "\.(css|html|ico|js|json|map|php|svg|txt|xml)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>

# Filetype(s)
AddType image/webp .webp
AddType image/avif .avif
AddType image/avif-sequence .avifs

# Force https
<ifModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} !(|\.)localhost$
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
</ifModule>

# Security
Header set "Content-Security-Policy" " \
  upgrade-insecure-requests ; \
"
Header set "X-Content-Type-Options" "nosniff"
