{% block aside %}
  <aside>
    <div class="blog">
      <h2>Blog and News</h2>
      <p>Here are the most recent posts we have published on our blog:</p>
      {% include "partials/post-list.njk" %}
    </div>
  </aside>

{% endblock %}
