
{% block aside %}
  <aside>
    {% include "partials/dma-countdown.njk" %}
    {% if permalink != '/blog/' %}
      <div class="blog">
        <h2>Recent updates</h2>
        {% include "partials/post-list.njk" %}
        <p><a href="/blog" class="action-button">Read more news</a></p>
      </div>
    {% endif %}
    {% include "partials/promo.njk" %}
  </aside>
{% endblock %}

