{% block aside %}
  <aside>
    <div class="blog">
      <h2>Recent updates</h2>
      {% include "partials/post-list.njk" %}
      <p><a href="/blog">Read more news</a></p>
    </div>
    {% include "partials/promo.njk" %}
  </aside>
{% endblock %}
