<div class="emergency-banner">
  <p>
  <strong>🔥 Immediate action needed!</strong> Apple is
  attempting to kill web apps in the EU and <strong>we need your help</strong> to turn this around.
  <a href="https://letter.open-web-advocacy.org/">
    <strong>Fight back now</strong></a>
  </p>
</div>