{% set content = languages_base[page.lang] %}
<div class="emergency-banner">
  <p>
    <strong>
      <a href="/blog/owa-2025-review/" title="Open Web Advocacy 2025 in Review">
        Open Web Advocacy 2025 in Review&nbsp;&nbsp;[ Read
        More ➔ ]
      </strong>
    </a>
  </p>
</div>