<div class="dma-countdown">
  <h2>Digital Markets Act Countdown</h2>
  <p class="deadline">The deadline is March 6</p>
  <div class="timer">
    <p class="dayCd">
      <span class="remaining-days">00</span> days
    </p>
    <p class="timeCd">
      <span class="remaining-hours">
        00
      </span>h:<span class="remaining-mins">
        00
      </span>m:<span class="remaining-secs">
        00
      </span>s
    </p>
  </div>
  <p><a href="/digital-markets-act/">Read more about the Digital Markets Act</a></p>
</div>