<div class="dma-countdown">
  <h2>Digital Markets Act Countdown</h2>
  <p id="deadline">The deadline is March 6</p>
  <div class="timer">
    <p id="dayCd">
      <span id="remaining-days">00</span> days
    </p>
    <p id="timeCd">
      <span id="remaining-hours">
        00
      </span>h:<span id="remaining-mins">
        00
      </span>m:<span id="remaining-secs">
        00
      </span>s
    </p>
  </div>
  <!--p><a href="/apple-browser-ban/">Read more about the Digital Markets Act</a></p-->
</div>