<div class="dma-countdown">
  <h2>Digital Markets Act Countdown</h2>
  <p id="deadline">The deadline is March 6 00:00</p>
  <div class="timer">
    <p id="dayCd">
      <span id="remaining-days">00</span> days
    </p>
    <p id="timeCd">
      <span id="remaining-hours">
        00
      </span>h:<span id="remaining-mins">
        00
      </span>m:<span id="remaining-secs">
        00
      </span>s
    </p>
  </div>
  <p><a href="">Read more about the Digital Markets Act</a></p>
</div>

<script>
    const noscript = document.getElementById('deadline');
    const deadline = '2024-03-06';
    const dayCd = document.getElementById('dayCd');
    const timeCd = document.getElementById('timeCd');
    const cdDays = document.getElementById('remaining-days');
    const cdHours = document.getElementById('remaining-hours');
    const cdMins = document.getElementById('remaining-mins');
    const cdSecs = document.getElementById('remaining-secs');

    // If Js on
    noscript.style.display = "none";
    dayCd.style.display = "block";
    timeCd.style.display = "block";


    function countDown(endtime) {
      const total = Date.parse(endtime) - Date.parse(new Date());
      const seconds = Math.floor((total / 1000) % 60);
      const minutes = Math.floor( (total/1000/60) % 60 );
      const hours = Math.floor( (total/(1000*60*60)) % 24 );
      const days = Math.floor( total/(1000*60*60*24) );

      cdDays.innerText = days;
      cdHours.innerText = ('0' + hours).slice(-2);
      cdMins.innerText = ('0' + minutes).slice(-2);
      cdSecs.innerText = ('0' + seconds).slice(-2);

      return {
        days,
        hours,
        minutes
      };
    }

    function initializeClock(endtime) {
      countDown(endtime);
      const timeinterval = setInterval(() => {
        const t = countDown(endtime);

        if (t.days <= 0) {
          dayCd.style.display = "none";
        }

        if (t.total <= 0) {
          clearInterval(timeinterval);
        }
      },1000);
    }

    initializeClock(deadline);
  </script>