{% set languages = languages_base.supported %}
{% set content = languages_base[page.lang] %}
<dialog class="language-dialog">
  <header>{{ content.languages }}</header>
  <section aria-label="links to available translations">
    <ul>
      {% for language in languages %}
        <li>
          <a href="{{ page.url | locale_url(language.code) | language(language.code, page.lang) }}">{{ language.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <footer>
    <button class="action-button">{{ content.close }}</button>
  </footer>
</dialog>