{% set languages = languages_base.supported %}
{% set content = languages_base[page.lang] %}

<dialog class="language-dialog">
  <header>
    <h2>{{ content.languages }}</h2>
  </header>
  <section aria-label="List of available language versions">
    <ul>
      {% for language in languages %}
        {% if helpers.hasTranslatedVersion(page.url | locale_url(language.code), language.code) %}
          <li>
            <a data-lang="{{ language.code }}" href="{{ page.url | locale_url(language.code) | language(language.code, page.lang) }}" rel="alternate" hreflang="{{ language.code }}">{{ language.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <footer>
    <button class="action-button">{{ content.close }}</button>
  </footer>
</dialog>