{% if postListHeadline %}
  <h3>
    {{ postListHeadline }}
  </h3>
{% endif %}
<div>
  <ol class="[ post-list ] [ flow ]">
    {% for item in postListItems %}
      {% if loop.index0 < 5 and item.url %}
      <li class="post-list__item">
        <a href="{{ item.url  | locale_url }}" class="post-list__link">{{ item.data.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
