{% if postListHeadline %}
  <h3>
    {{ postListHeadline }}
  </h3>
{% endif %}
<div>
  <ol class="[ post-list ] [ flow ]">
    {% for item in postListItems %}
      <li class="post-list__item">
        <a href="{{ item.url }}" class="post-list__link">{{ item.data.title }}</a>
      </li>
    {% endfor %}
  </ol>
</div>

{% if title != 'Owa Promotional Resources' %}
  <div class="promo">
    <p class="illustration">
      <img src="/images/sticker-example.svg" alt="Example of sticker" />
    </p>
    <div class="group">
      <h3><a href="/owa-promotional/">Promotional Resources</a></h3>
      <p>Feel free to print and use our logo and promotional
      illustrations to show your support to the open web.</p>
    </div>
  </div>
{% endif %}
