{% if permalink != '/owa-promotional/' %}
  <div class="promo">
    <p class="illustration">
      <img src="/images/sticker-example.svg" alt="Example of sticker" />
    </p>
    <div class="group">
      <h3><a href="/owa-promotional/">{{ languages[page.lang].promoHeading }}</a></h3>
      <p>{{ languages[page.lang].promoParagraph }}</p>
    </div>
  </div>
{% endif %}