{% set content = languages_base[page.lang] %}

{% if permalink != '/owa-promotional/' %}
  <div class="promo">
    <p class="illustration">
      <img src="/images/prom-gallery/sticker-applebrowserban-03.svg" alt="Example of sticker" />
    </p>
    <div class="group">
      <h3><a href="/owa-promotional/">{{ content.promoHeading }}</a></h3>
      <p>{{ content.promoParagraph }}</p>
    </div>
  </div>
{% endif %}