<div class="rss-feed">
  <h3>
    <a href="/feed.xml">
      <img src="/images/rss.svg">
      {{ languages[page.lang].rssFeedHeading }}
    </a>
  </h3>
  <p>{{ languages[page.lang].rssFeedParagraph }}</p>
</div>