<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": ["Organization", "NGO"],
        "@id": "https://en.wikipedia.org/wiki/Open_Web_Advocacy",
        "url": "https://open-web-advocacy.org",
        "name": "Open Web Advocacy",
        "alternateName": "OWA",
        "email": "contactus@open-web-advocacy.org",
        "description": "Open Web Advocacy (OWA) is an international not-for-profit digital rights group, consisting mostly of individual software engineers who are advocating for the future of the open web.",
        "logo": "https://open-web-advocacy.org/images/prom-gallery/logo-full-white.svg",
        "image": "https://open-web-advocacy.org/images/prom-gallery/logo-full-white.svg",
        "foundingDate": "2021",
        "founder": [
            {
                "@type": "Person",
                "name": "Alex Moore"
            },
            {
                "@type": "Person", 
                "name": "James Moore"
            }
        ],
        "sameAs": [
            "https://open-web-advocacy.org",
            "https://en.wikipedia.org/wiki/Open_Web_Advocacy", 
            "https://mastodon.social/@owa",
            "https://x.com/OpenWebAdvocacy",
            "https://www.youtube.com/@openwebadvocacy"
        ],
        "areaServed": "Worldwide",
        "knowsAbout": [
            "Digital Rights",
            "Internet Activism",
            "Web Browser Technology",
            "Progressive Web Apps"
        ]
    }
</script>