{% set content = languages_base[page.lang] %}
{% set translatedVersions = 0 %}
{% for language in languages_base.supported %}
  {% if helpers.hasTranslatedVersion(page.url | locale_url(language.code), language.code) %}
    {% set translatedVersions = translatedVersions + 1 %}
  {% endif %}
{% endfor %}

<p class="skiplink">
  <a class="[ skip-link ] [ button ]" href="#main-content">{{ content.skipLinkText }}</a>
</p>
{# {% include "partials/banner.njk" %} #}
<header role="banner" class="site-header">
  {% if translatedVersions > 1 %}
    {% include "partials/language-picker.njk" %}
  {% endif %}
  <div class="site-header__inner">
    <a href="/" aria-label="{{ site.name }} - {{ content.homeText }}" class="site-header__brand">
      <img src="/images/owa-logo.svg" width="154.13" height="186.58" alt="{{ site.name }}" class="logo"/>
      <span>Open Web Advocacy</span>
    </a>
    <nav id="main-navigation" class="[ nav ] [ site-header__nav ]" aria-label="{{ content.ariaLabelPrimaryNav }}">
      <ul class="nav__list">
        {% for item in navigation[page.lang].primary %}
          {% if helpers.hasTranslatedVersion(item.url | locale_url, page.lang) %}
            <li>
              <a href="{{ item.url | locale_url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                {{ item.text }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>