<p class="skiplink">
  <a class="[ skip-link ] [ button ]" href="#main-content">{{ languages[page.lang].skipLinkText }}</a>
</p>
{% include "partials/banner.njk" %}
<header role="banner" class="site-header">
  <div class="site-header__inner">
    <a href="/" aria-label="{{ languages[page.lang].siteName }} - {{ languages[page.lang].homeText }}" class="site-header__brand">
      <img src="/images/owa-logo.svg" width="154.13" height="186.58" alt="{{ languages[page.lang].siteName }}" class="logo" />
    </a>
    <nav id="main-navigation"
      class="[ nav ] [ site-header__nav ]"
      aria-label="{{ languages[page.lang].ariaLabelPrimaryNav }}">
      <ul class="nav__list">
        {% for item in navigation[page.lang].primary %}
        <li>
          <a href="{{ item.url | locale_url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
          {{ item.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
